<div class="logo d-flex justify-content-center w-100" style="background-image: url('<%= cl_image_path @list.photo.key if !@list.photo.key.nil?%>')">
  <div class="m-auto">
    <h2 class="text-light"><%= @list.name %></h2>
  </div>
</div>
<div class="container">
    <div class="d-flex flex-column my-3">
      <div class="d-flex justify-content-end">
        <%= link_to 'Add a movie', new_list_bookmark_path(@list), class: "btn btn-success" %>
      </div>
      <div class="cards-movie">
        <%= render "card-movies" %>
      </div>
  </div>
</div>
